@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@media(max-width:801px) and (min-width:320px){
	.index_logo{
		width:7vw;
	}
	.index_growithme_text{
		font-size:7vw;
	}
}
@media(max-width:319px){
	.index_logo{
		width:9vw;
	}
	.index_growithme_text{
		font-size:9vw;
	}
}
@media(min-width:802px){
	.index_logo{
		width:5vw;
	}
	.index_growithme_text{
		font-size:5vw;
	}
}
@media(min-width:908px){
	.loginBox{
	width:455px;
	}
}
@media(max-width:908px){
	.loginBox{
	width:60vw;
	}
}
@media(max-width:760px){
	.login_header{
	font-size:8vw;
}}
@media(min-width:761px){
	.login_header{
	font-size:5vw;
}
}
.icon {
	display: inline-block;
	color:#fefefe;
  	width: 1em;
	height: 1em;
	fill: currentColor;
	stroke:currentColor;
}
*{margin:0;
padding:0;}
ul{
	list-style: none;
}
a,a:hover,a:active,a:visited{
	text-decoration: none;
	color:#fff;
}
body{
	font-family:'Share Tech';
	color: #fff;
}
.register_text_login{
	display:block;
}
label {display:none;}
.login_error{
	color:#FFF;
	background-color:#b21f2d;
	border:1px solid #b21f2d;
	border-radius:2px;
	width:100%;
	display:inline-block;
	padding-top:9px;
	padding-left:7px;
	padding-right:7px;
}
.login_error svg{
	float:left;
	margin-top:1px;
	width:19px;
	height:19px;
}
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
    position:fixed;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
    z-index:0;
}

.loginBox
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-40%);
	box-sizing: border-box;
    z-index:2;
	margin-top:15px;
}
.loginBox input
{
	width: 100%;
	margin-bottom:10px;
}
form{
	font-size:20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="email"]
{
	border: none;
	border-bottom: 1px solid #bababa;
	background: transparent;
	outline: none;
	height: 40px;
	color: #ffffff;
	font-size: 20px;
}
::placeholder
{
	color: rgba(255, 255, 255, 0.7);
	font-size:1.2em;
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	border-radius: 17px;
	border: 2px solid #FFFFFF;
}
.loginBox input[type="submit"]:hover
{
	background: #ffffff;
	color: #0e0e0e;
	font-weight:bold;
}
.loginBox input[type="submit"]:active
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	border-radius: 17px;
	border: 2px solid #FFFFFF;
}
.loginBox input[type="text"]:focus,.loginBox input[type="password"]:focus ,.loginBox input[type="email"]:focus{
	border-bottom: 1px solid rgba(255, 255, 255);
	color: #ffffff;
}
.index_login_div{
	padding:8px 0 0px 0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:5;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
.index_logo{
	float:left;
	position:relative;
	top:50%;
}
.index_growithme_text{
	font-family:'Share Tech';
	float:left;
	color;#fff;
	position:relative;
	top:50%;
}
.index_growithme_text,.index_growithme_text:hover,.index_growithme_text:active,.index_growithme_text:visited{
	color:#fff;
}
.navbar_header{
	padding:5px 0px 5px 5px;
	font-family:'Share Tech';
	text-decoration:underline;
}
.navbar_li{
	padding:10px 0 10px 10px;
	margin:7px 0 7px 0px;
}
.navbar_li_text{
	font-family:'Share Tech';
	font-size:1.3em;
}
.selected{
	background-color: #202121;
	border-right:4px solid #fff;
}
.navbar_li:hover{
	background-color: #2a2a2a;
	border-right:4px solid #bbbbbb;
}
.logo_text_nav{
	float:left;
	padding:10px 0px 15px 5px;
	position:relative;
	top:50%;
}
.logo_nav{
	float:left;
	width:3em;
	padding:10px 5px 15px 5px;
	position:relative;
	top:50%;
}
.login_header{
	font-family:'Share Tech';
}
.loginBox{
	position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	height:auto;
}
.registerBox form ul{
	width:200px;
	position:absolute;
	top:10%;
	left:100%;
}