{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/grayscale.css' %}" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

{% endblock content1 %}
{% block head_title %}Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
    <div class="contents">
        <section class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-2 introstuff">
                                <h1 class="forum-heading">Forum</h1>
                                <p class="intro-text">An online repository and a discussion group for jargon talks along Q/A Threads</p>
                                <form method="get" action="{%  url 'forum:search'%}">
                                    <div class="input-group search_group">
                                        <input type="text" class="input-group input-group-text search_input" placeholder="Enter Keywords Here"/>
                                        <button class="btn btn-lg btn-success search_button" type="submit">
                                            <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                                            <span class="hide_text_sm">Search</span>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    {% block additional %}
    {% load static %}
    <script src="{% static "/forum/js/grayscale.js" %}"></script>
    {% endblock additional %}

{% endblock body %}