{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

{% endblock content1 %}
{% block head_title %}Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
    <div class="contents">
        <section class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-2 introstuff">
                                <h1 class="forum-heading">Forum</h1>
                                <p class="intro-text">An online repository and a discussion group for jargon talks along Q/A Threads</p>
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-info btn-lg" href="{% url 'forum:explore' %}"><svg class="icon icon-binoculars"><use xlink:href="#icon-binoculars"></use></svg>&nbsp;Explore</a>
                                        <a class="btn btn-lg btn-success" href="{% url 'forum:search' %}"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>&nbsp;Search</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    {% block additional %}
    {% load static %}
    <script src="{% static "/forum/js/grayscale.js" %}"></script>
    {% endblock additional %}

{% endblock body %}