{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />

{% endblock content1 %}
{% block head_title %}{{ object.name }}&nbsp;Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
    <div class="contents">
        <div class="container">
            <h1 class="">Forum</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum:explore' %}">Sections</a></li>
                <li class="breadcrumb-item active">{{ object.name }}</li>
              </ol>
        </nav>



            <div class="container">
                    <p>
                        <span class="admin">Admin : {{ object.admin }}</span>
                    </p>
                        <img src="{% load static %}{% static 'forum/images/'|add:object.picture_link %}" class="img-thumbnail img_detail"/>
                    <ul>
                        <div>Subscribers : {{ object.subscribers.all.count }}</div>
                    {% if object.subscribers.all %}
                        {% for a in object.subscribers.all %}
                            <li>{{ a.username }}
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                <ul>
                        <div>Posts : {{ object.post_set.all.count }}</div>
                        {% for a in object.post_set.all %}
                            <li>{{ a.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>

{% endblock body %}