{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />

{% endblock content1 %}
{% block head_title %}Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
    <div class="contents">
        <div class="container">
        <h1 class="">Forum</h1>

            <p></p>
            <ul class="list-group explore_ul">
                <div class="row">
                        {% for object in object_list %}
                            <li class="list-group-item col-sm-12 col-xl-4 col-lg-4 col-md-6 li_physics">
                                   <a href="{{ object.section_link }}" >
                                        <img src="{% load static %}{% static object.picture_link %}" class="explore_img"/>
                                       <span class="title">{{ object.name }}</span>
                                   </a>
                            </li>
                        {% endfor %}
                </div>
            </ul>
            </div>
    </div>

{% endblock body %}