{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />
{% endblock content1 %}
{% block head_title %}Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
        <div class="contents">
            <div class="peculiar_forum">
                {% load static %}
                <img class="rick_svg"src="{% static 'forum/images/not_logged_in.svg' %}"/>
                <div class="login_required_text">
                    <h1>You Have To Be Logged In To Use This Feature !</h1>
                </div>
                <div class="login_redirect_text">
                    {% load static %}<center><a href="{% url 'accounts:login' %}" class="login_a">Login</a>
                    <a href="{% url 'accounts:register' %}" class="register_a">Sign Up</a></center>
                </div>
            </div>
        </div>


{% endblock %}