{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
    <link rel="stylesheet" href="{% static '/forum/css/forum_main.css' %}" />
{% endblock content1 %}
{% block head_title %}Forum{% endblock %}
{% block body %}
    {% include 'home/includes/navbar.html' %}
        <div class="contents">
            <div class="peculiar_forum">
                {% load static %}
                <img src="{% static 'forum/images/not_logged_in.svg' %}"/>
            <a href="{% url 'accounts:login'%}" class="badge-danger">Login</a>
            </div>
        </div>


{% endblock %}