@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@media (max-width:1010px) and (min-width:667px)
{
	.login_required_text{
		transform:translateX(-50%);
		top:10%;
		left:70%;
		width:400px;
	}
	.login_redirect_text{
		top:57%;
		left:70%;
		transform:translateX(-50%);	width:400px;
	}
}
@media(max-width:500px){
	.search_input{
		width:100%;
	}
	.search_button{
		width:100%;
		border-radius:0px;
}
}
@media(min-width:500px){
	.search_input{
		width:400px;
	}
	.search_button{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius:10px;
	border-bottom-right-radius: 10px;
}
}
@media(max-width:544px){
	.hide_text_sm{
		display:none;
	}
}
@media(max-width:480px){
	.login_a,.register_a{
		font-size:7vw;
	}
	.login_required_text{
		font-size:5vw;
	}
}
@media(max-width:399px){
	.login_a,.register_a{
		padding:5px 0px;
	}
}
@media (max-width:443px)/*and (min-width:444px)*/{
	.login_required_text{
		top:10%;
		left:10%;
		width:300px;
		font-size:20px;
	}
	.login_redirect_text{
		top:70%;
		left:10%;
		width:300px;
		font-size:20px;
	}
}
@media (max-width:571px)and (min-width:444px){
	.login_required_text{
		top:10%;
		left:55%;
		transform:translateX(-50%);	width:400px;
	}
	.login_redirect_text{
		top:70%;
		left:55%;
		transform:translateX(-50%);	width:400px;
	}
}
@media (max-width:666px)and (min-width:572px){
	.login_required_text{
		top:10%;
		left:65%;
		transform:translateX(-50%);	width:400px;
	}
	.login_redirect_text{
		top:70%;
		left:65%;
		transform:translateX(-50%);	width:400px;
	}
}@media (min-width:1011px){
	.login_required_text{
			top:10%;
			left:80%;
		transform:translateX(-50%);	width:400px;
	}
	.login_redirect_text{
		top:57%;
		left:80%;
		transform:translateX(-50%);	width:400px;
	}
}
@media(max-width:801px) and (min-width:320px){
	.index_logo{
		width:7vw;
	}
	.index_growithme_text{
		font-size:7vw;
	}
}

@media(max-width:692px){
	.rick_svg{
		width:130%;
		height:130%;
	}
}
.icon {
	display: inline-block;
	color:#fefefe;
  	width: 1em;
	height: 1em;
	fill: currentColor;
	stroke:currentColor;
	vertical-align: middle;
}
*{margin:0;
padding:0;}
ul{
	list-style: none;
}
body{
	font-family:'Share Tech';
	background-color: #fff;
}

.index_logo{
	float:left;
	position:relative;
	top:50%;
}
.index_growithme_text{
	font-family:'Share Tech';
	float:left;
	color;#fff;
	position:relative;
	top:50%;
}
.index_growithme_text,.index_growithme_text:hover,.index_growithme_text:active,.index_growithme_text:visited{
	color:#fff;
}
.navbar_header{
	padding:5px 0px 5px 5px;
	font-family:'Share Tech';
	text-decoration:underline;
}
.navbar_li{
	padding:10px 0 10px 10px;
	margin:7px 0 7px 0px;
}
.navbar_li_text{
	font-family:'Share Tech';
	font-size:1.3em;
}
.selected{
	background-color: #202121;
	border-right:4px solid #fff;
}
.navbar_li:hover{
	background-color: #2a2a2a;
	border-right:4px solid #bbbbbb;
}
.logo_text_nav{
	float:left;
	padding:10px 0px 15px 5px;
	position:relative;
	top:50%;
}
.logo_nav{
	float:left;
	width:3em;
	padding:10px 5px 15px 5px;
	position:relative;
	top:50%;
}
.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #000;
}
.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #000;
}
.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #000;
}
.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #000;
}
.rick_svg{
	width:700px;
	height:700px;
	position:fixed;
	top:50%;
	left:30%;
	transform:translate(-50%,-50%);
	}
.login_required_text{
	padding:5px;
	position:absolute;
	font-weight:bold;
	color:red;
	background-color: rgba(255,255,255,0.8);
}
.login_redirect_text{
	padding:5px;
	position:absolute;
	color:red;
	font-size:30px;
	background-color: rgba(255,255,255,0.8);
}
.register_a,register_a:active{
	padding:5px 20px;
	border-radius:5px;
	background:#1A5E22;
	color:#fff;
	border:2px solid #1A5E22;
}.register_a:hover{
	background:transparent;
	color:#1A5E22;
	border:2px solid #1A5E22;
}
 .login_a,login_a:active{
	padding:5px 20px;
	border-radius:5px;
	background:#213659;
	color:#fff;
	border:2px solid #213659;
}.login_a:hover{
	background:transparent;
	color:#213659;
	border:2px solid #213659;
}
 .navbar_li_a {
     color:#fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #B8AEB1;
}
.login_a,.register_a{
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.login_a:hover .login_a_svg{
	color:#213659;
}.register_a:hover .register_a_svg{
	color:#1A5E22;
}
.search_input{
	outline:none;
	border-radius:0;
	background:transparent;
	border: none;
	border-bottom: 4px solid #413f43;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
input[type="text"]{
	height:50px;
	font-size:20px;
	color: #413f43;
}
input[type="text"]:focus{
	color:#000;
	border-color:#000;
}
.search_group{
	display:table;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
.e_search_input{
	width:80%;
	outline:none;
	border-radius:0;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;float:left;
}
.e_search_button{
	width:20%;
	border-radius:0;
}
.forum_list{
    margin:auto 10px;
}
.img_physics{
     background: url(../../forum/images/physics.png) no-repeat bottom center scroll;
    background-color: #2a2a2a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.explore_img{
    width:17vw;
}
.explore_ul div li {
    text-align: center;
}

@media(min-width:767px){
    .forum-heading{
        font-size:60px;
    }
    .intro-text{
        font-size:25px;
    }
}
@media(max-width:767px){
    .forum-heading{
        font-size:40px;
    }
    .intro-text{
        font-size:20px;
    }
}
.intro {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    background: url(../../forum/images/background.jpg) no-repeat bottom center scroll;
    background-color: #2a2a2a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.forum-heading{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.introstuff{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.explore_a{
	font-size:1.5em;
	color:#000;
}
.back_a{
    padding :10px;
}
.icon-circle-left{
    color:#fff;
}
.section_desc{
	padding:10px;
	margin:0 10px;
}
.subscribe-d{
	opacity:0.65;
}