{% extends 'home/includes/base1.html' %}
{% block content1 %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/home/css/main.css' %}" />
    <link rel="stylesheet" href="{% static '/home/css/meny.css' %}" />
{% endblock content1 %}
{% block head_title %}Register{% endblock %}

{% block body %}
    {% include 'home/includes/navbar.html' %}
    <div class="contents">
            <div class="registerBox">
                <h2 class="login_header">Sign Up</h2>
                <form method="post">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="login_error">
                            <svg class="icon icon-notification"><use xlink:href="#icon-notification"></use></svg>
                        &nbsp;          Error&nbsp;
                            <ul class="errors">
                                {% for message in messages %}
                                        <li>
                                            •&nbsp;{{ message }}
                                        </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


                    <div class="register_form">
                                <div class="username_field">
                                    <span class="username_glyphcion"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg></span>
                                    <input id="{{ form.username.id_for_label }}" maxlength="254" name="{{ form.username.html_name }}" placeholder="Enter Username" type="text" />
                                    {% if form.username.errors %}
                                        <div class="username_login_error">
                                            {{ form.username.errors }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="email_field">
                                    <span class="email_glyphicon"><svg class="icon icon-mail3"><use xlink:href="#icon-mail3"></use></svg></span>
                                    <input class="" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Enter Email Address" type="email" />

                                    {% if form.email.errors %}
                                        <div class="username_login_error">
                                            {{ form.email.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="password_field">
                                    <span class="password_glyphicon"><svg class="icon icon-lock"><use xlink:href="#icon-lock"></use></svg></span>
                                    <input class="" id="{{ form.password1.id_for_label }}" maxlength="254" name="{{ form.password1.html_name }}" placeholder="Enter Password" type="password" />

                                    {% if form.password1.errors %}
                                        <div class="password_login_error">
                                            {{ form.password1.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="password_field">
                                    <span class="password_glyphicon"><svg class="icon icon-lock"><use xlink:href="#icon-lock"></use></svg></span>
                                    <input class="" id="{{ form.password2.id_for_label }}" maxlength="254" name="{{ form.password2.html_name }}" placeholder="Enter Password Again" type="password" />

                                    {% if form.password2.errors %}
                                        <div class="password_login_error">
                                            {{ form.password2.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            <input type="submit" name="" value="Sign Up">
                        </div>
                    </form>
                <div class="extra_info_register">
                <span class="register_text_login">Already Have An Account?</span>
                <a href="{% url 'accounts:login' %}" class="sign_in_btn">Sign In</a>
                </div>
            </div>
            <div id="particles-js"></div>
            {% load staticfiles %}
            <script src="{% static 'home/javascript/particles.min.js' %}"></script>
            <script src="{% static 'home/javascript/app.js' %}"></script>
            <script src="{% static 'accounts/javascript/main.js' %}"></script>

    </div>
{% endblock %}