{% block content %}
    {% include 'home/includes/svg-def.html' %}
    <div class="meny">
            <div class="logo_div_nav">
                    {% load staticfiles %}<img class="logo_nav" src="{% static 'home/images/logo-small.png' %}"/>
                    <h1 class="logo_text_nav">GroWithMe</h1>
            </div>

			<h2 class="navbar_header">Menu</h2>
            {% if explore %}
                <ul class="navbar_ul">
                    <li>
                        <form method="get" action="{%  url 'forum:search'%}" class="e_search_group" autocomplete="off">
                                    <div class="input-group">
                                        <input type="text" class="input-group input-group-text e_search_input" name="keyword"placeholder="Search"/>
                                        <button class="btn btn-lg btn-success e_search_button" type="submit">
                                            <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                                        </button>
                                    </div>
                        </form>
                    </li>
                </ul>
            {% endif %}
			<ul class="navbar_ul">
                 <a href="{% url 'home:index' %}" class="navbar_li_a">
                    <li class="navbar_li {% if home %}selected{% endif %}">
                        <svg class="icon icon-home" ><use xlink:href="#icon-home"></use></svg>
                            <span class="navbar_li_text">&nbsp;Home</span>
                    </li>
                 </a>

                <a href="{% url 'forum:index'%}" class="navbar_li_a">
				<li class="navbar_li {% if forum %}selected{% endif %}">
                    <svg class="icon icon-users"><use xlink:href="#icon-users"></use></svg>
                    <span class="navbar_li_text">&nbsp;Forum</span>
                </li>
                </a>

                <a href="{% url 'minefield:index' %}" class="navbar_li_a">
                    <li class="navbar_li {% if about %}selected{% endif %}">
                            {% load staticfiles %}<img src="{% static 'forum/images/minefield_nav.svg' %}" class="minefield_logo_nav" style="width:25px;height:25px;color:white"/>
                            <span class="navbar_li_text">&nbsp;MineField</span>
                    </li>
                </a>

                {% if not logged_in %}
                    <a href="{% url 'accounts:login'%}" class="navbar_li_a">
                        <li class="navbar_li {% if login %}selected{% endif %}">
                        <svg class="icon icon-key"><use xlink:href="#icon-key"></use></svg>
                        <span class="navbar_li_text">&nbsp;Login</span>
                        </li>
                    </a>
                {% else %}
                    <a href="{% url 'accounts:logout'%}" class="navbar_li_a">
                        <li class="navbar_li {% if login %}selected{% endif %}">
                            <svg class="icon icon-exit"><use xlink:href="#icon-exit"></use></svg>
                                <span class="navbar_li_text">&nbsp;Logout</span>
                        </li>
                    </a>
                {% endif %}
                <a href="{% url 'accounts:register' %}" class="navbar_li_a">
                    {% if not logged_in %}<li class="navbar_li {% if register %}selected{% endif %}">
                            <svg class="icon icon-clipboard"><use xlink:href="#icon-clipboard"></use></svg>
                            <span class="navbar_li_text">&nbsp;Sign Up</span>
                    </li>
                    {% endif %}
                </a>
                <a href="{% url 'home:about' %}" class="navbar_li_a">
                    <li class="navbar_li {% if about %}selected{% endif %}">
                            <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
                            <span class="navbar_li_text">&nbsp;About</span>
                    </li>
                </a>
			</ul>
    </div>

    <div class="meny-arrow"></div>
{% endblock %}